<!DOCTYPE html>
<head>
	<title>Creativley Applied Designs</title>
	<link rel="stylesheet" type="text/css" href="CreativleyAppliedDesigns.css">
</head>
<body>
	<img src="https://img0.etsystatic.com/151/0/13981430/isbl_1680x420.22600020_4h9shv9m.jpg" width="800" height="400">
	<div class="nav">
		<ul>
			<li>Jewelry & Accessories</li>
			<li>Clothers & Shoes</li>
			<li>Home & Living</li>
			<li>Wedding & Party</li>
			<li>Toys & Entertainment</li>
			<li>Art & Collectibles</li>
			<li>Craft Supplies & Tools</li>
		</ul>
	</div>
	<div class="main">
		<h1>Creativley Applied Designs</h1>
		<h3>Make Something One of a Kind.</h3>
		<p>Are you looking to put your own touch on an item? Here
		at Creativley Applied Designs you can purchase items that have your own personal customization.</p>
		<div class="images">
			<figure class="item">
				<img src="https://img1.etsystatic.com/184/0/13981430/il_680x540.1325530727_59jg.jpg" width="600" height="400">
			</figure>
			<figure class="item">
				<img src="https://img1.etsystatic.com/197/0/13981430/il_680x540.1415057313_q371.jpg" width="600" height="400">
			</figure>
			<figure class="item">
				<img src="https://img0.etsystatic.com/199/0/13981430/il_340x270.1308487796_r2zp.jpg" width="600" height="400">
			</figure>
		</div>
	</div>
</body>