<!DOCTYPE html>
<html>
<head>
<title> SP II Landing Page</title>
<h1><strong>Software Programming II Landing Page</strong></h1>
</head>
<body>
<h3>Welcome! This is our landing page for all the various projects we have been working on in the Software Programming II class.</h3>
<div>
<a href="{% url 'alexsite' %}"><h2>Alex's main site</h2></a>
</div>

<div>
<a href="{% url 'brycesite' %}"><h2>Bryce's Site</h2></a>
</div>
<div>
<a href="{% url 'nick_index' %}"><h2>Nick's Site</h2></a>
</div>
<div>
<a href="{% url 'fortnite_home' %}"><h2>Medhanie's Site</h2></a>	
</div>