<!DOCTYPE html>
<html>
<head>
<title class="titles">The Chinese Dictionary</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="mainpage.css">
<h1><strong><div class="test_text">The Haverford Chinese Dictionary Website</div></strong></h1>
</head>
<body>

	<!-- A top bar for easy navigation -->
<div class="navi">
	<img class="logo" src="https://upload.wikimedia.org/wikipedia/en/e/ee/HaverfordSchoolLogo.png">
	<a class="hyperlink_color" href="home.html">Home</a>
	<a class="hyperlink_color" href="scope.html">Scope</a>
	<a class="hyperlink_color" href="about.html">About</a>
	<a class="hyperlink_color" href="tutorial.html">Tutorials</a>
		<form action="/action_page.php">
			<input type="text" placeholder="Search a word in chinese..." id="search_box">
			<button type="submit" id="submit_box">Submit<i>
			</i></button>
		</form>
</div>



	<!-- Rest of the code -->
	<img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Zhongwen.svg" width = "400" height = "200">
	<audio controls>
		<source src="chinese.mp3" type="audio/mpeg">
		<p>A pronunciation of these chinese characters</p>
	</audio>
	<p class="image_caption">An example of chinese characters, meaning the word "chinese" <span class="audio_caption">An audio file example of the pronunciation of the characters</span></p>
	<video width = "300" height="200" controls>
		<source src="628513753.mp4" type="video/mp4">
	</video>
	<p class="video_caption">A test video</p>
	<h3>This website allows the student to type in a vocab word, in Chinese.</h3>
	<h2>What information does this website provide?</h2>
	<ul>
		<li>English definition</li>
		<li> Word in english</li>
		<li><a href="https://en.wikipedia.org/wiki/Pinyin" target=" ">Pinyin</a></li>
		<li><a href ="https://en.wikipedia.org/wiki/Mnemonic" target=" ">Mnemonic</a></li>
		<li>Chinese examples</li>
	</ul>
	<p class="normal_caption">Please click on the hyperlinks if you are confused as to what Pinyin and Mnemonics are.</p>
	
</body>

</html>