<!DOCTYPE html>
<html>
<head>
	<title>Guide to Fortnite</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="fortnite.css">
</head>
<body>
	<div class="header">
		<header class="container">
			<div class="row">
				<img src="https://d1u5p3l4wpay3k.cloudfront.net/fortnite_gamepedia/thumb/a/ad/Battle_royale_logo.png/300px-Battle_royale_logo.png?version=227734eabf58bf7b0defcea7ef6e3ba5" height="100px" width="150px">
				<h1 class="col-sm-4">
					<a href="./fortnite_home.html">The Ultimate Guide to Fortnite</a>
				</h1>
				<nav class="col-sm-8 text-right">
					<a href="./fortnite_map.html">Map</a>
					<div class="dropdown">
					  <button class="dropbtn">Add-ons</button>
					  <div class="dropdown-content">
					    <a href="./fortnite_skins.html">Skins</a>
					    <a href="./fortnite_pickaxes.html">Pickaxes</a>
					    <a href="./fortnite_gliders.html">Gliders</a>
					  </div>
					</div>
					<a href="./fortnite_weapons.html">Weapons</a>
					<a href="./fortnite_strategies.html">Strategies</a>
					<a href="./fortnite_gameplay.html">Gameplay</a>
				</nav>
			</div>
		</header>	
	</div>
	<div class="map">
		<section class="container">
			<div class="row text-center">
				<h2>The Map</h2>
			</div>
			<img src="https://www.epicgames.com/fortnite/forums/filedata/fetch?id=140301&d=1516088983">
		</section>
	</div>
	<div class="footer">
		<footer class="container">
			<div class="row">
				<p class="col-sm-4">
					&copy; 2018 Medhanie Irgau
				</p>
		</footer>
	</div>
</body>
</html>
