<!DOCTYPE html>
<html>
<head>
	<title>Guide to Fortnite</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="fortnite.css">
</head>
<body>
	<div class="header">
		<header class="container">
			<div class="row">
				<img src="https://d1u5p3l4wpay3k.cloudfront.net/fortnite_gamepedia/thumb/a/ad/Battle_royale_logo.png/300px-Battle_royale_logo.png?version=227734eabf58bf7b0defcea7ef6e3ba5" height="100px" width="150px">
				<h1 class="col-sm-4">
					<a href="./fortnite_home.html">The Ultimate Guide to Fortnite</a>
				</h1>
				<nav class="col-sm-8 text-right">
					<a href="./fortnite_map.html">Map</a>
					<div class="dropdown">
					  <button class="dropbtn">Add-ons</button>
					  <div class="dropdown-content">
					    <a href="./fortnite_skins.html">Skins</a>
					    <a href="./fortnite_pickaxes.html">Pickaxes</a>
					    <a href="./fortnite_gliders.html">Gliders</a>
					  </div>
					</div>
					<a href="./fortnite_weapons.html">Weapons</a>
					<a href="./fortnite_strategies.html">Strategies</a>
					<a href="./fortnite_gameplay.html">Gameplay</a>
				</nav>
			</div>
		</header>	
	</div>
	<div class="container" id="weapons" align="center">
		<div class="row-text-center">
			<h2><b>Weapons</b></h2>
			<p>
				The guns in Fortnite appear in different rarities and colors: common (gray), uncommon (green), rare (blue), epic (purple), legendary (gold). The quality of the weapon corresponds to its respective color. That said, not all guns come in all colors. 
			</p>
		</div>
		<div class="row-text-center">
			<h3>Revolver</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="gray"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/revolver.png">
				        	<div class="caption">
				          		<p>Body Damage-54<br> Head Damage-108<br> Reload Time-2.4s</p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/revolver.png">
				        	<div class="caption">
				          		<p>Body Damage-57<br> Head Damage-114<br> Reload Time-2.3s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/revolver.png">
				        	<div class="caption">
				          		<p>Body Damage-60<br> Head Damage-120<br> Reload Time-2.2s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Pistol</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="gray"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/pistol.png">
				        	<div class="caption">
				          		<p>Body Damage-23<br> Head Damage-46<br> Reload Time-1.5s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/pistol.png">
				        	<div class="caption">
				          		<p>Body Damage-24<br> Head Damage-48<br> Reload Time-1.5s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/pistol.png">
				        	<div class="caption">
				          		<p>Body Damage-25<br> Head Damage-50<br> Reload Time-1.4s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Suppressed Pistol</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/suppressed-pistol.png">
				        	<div class="caption">
				          		<p>Body Damage-26<br> Head Damage-52<br> Reload Time-1.3s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/suppressed-pistol.png">
				        	<div class="caption">
				          		<p>Body Damage-28<br> Head Damage-56<br> Reload Time-1.3s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Tactical Submachine Gun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/tactical-submachine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-16<br> Head Damage-32<br> Reload Time-2.4s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/tactical-submachine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-17<br> Head Damage-34<br> Reload Time-2.3s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="purple"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/tactical-submachine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-18<br> Head Damage-36<br> Reload Time-2.2s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Suppressed Submachine Gun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="gray"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/suppressed-submachine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-20<br> Head Damage-40<br> Reload Time-2.2s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/suppressed-submachine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-21<br> Head Damage-42<br> Reload Time-2.1s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/suppressed-submachine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-22<br> Head Damage-44<br> Reload Time-2s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Pump Shotgun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/pump-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-90<br> Head Damage-225<br> Reload Time-4.8s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/pump-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-95<br> Head Damage-237.5<br> Reload Time-4.6s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Tactical Shotgun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="gray"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/tactical-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-67<br> Head Damage-167.5<br> Reload Time-6.3s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/tactical-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-70<br> Head Damage-175<br> Reload Time-6s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/tactical-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-74<br> Head Damage-185<br> Reload Time-5.7s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Heavy Shotgun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/heavy-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-73.5<br> Head Damage-183.75<br> Reload Time-5.9s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/heavy-shotgun.png">
				        	<div class="caption">
				          		<p>Body Damage-77<br> Head Damage-192.5<br> Reload Time-5.6s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Assault Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="gray"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-m4.png">
				        	<div class="caption">
				          		<p>Body Damage-30<br> Head Damage-60<br> Reload Time-2.3s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-m4.png">
				        	<div class="caption">
				          		<p>Body Damage-31<br> Head Damage-62<br> Reload Time-2.2s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-m4.png">
				        	<div class="caption">
				          		<p>Body Damage-33<br> Head Damage-66<br> Reload Time-2.2s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Burst Assault Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="gray"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-burst.png">
				        	<div class="caption">
				          		<p>Body Damage-27<br> Head Damage-54<br> Reload Time-2.9s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-burst.png">
				        	<div class="caption">
				          		<p>Body Damage-29<br> Head Damage-58<br> Reload Time-2.7s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-burst.png">
				        	<div class="caption">
				          		<p>Body Damage-30<br> Head Damage-60<br> Reload Time-2.6s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>SCAR Assault Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-scar.png">
				        	<div class="caption">
				          		<p>Body Damage-35<br> Head Damage-70<br> Reload Time-2.1s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-scar.png">
				        	<div class="caption">
				          		<p>Body Damage-36<br> Head Damage-72<br> Reload Time-2.1s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Bullpup Burst Assault Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-bullpup-burst.png">
				        	<div class="caption">
				          		<p>Body Damage-32<br> Head Damage-64<br> Reload Time-2.5s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-bullpup-burst.png">
				        	<div class="caption">
				          		<p>Body Damage-33<br> Head Damage-66<br> Reload Time-2.3s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Scoped Assault Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="blue">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-scoped.png">
				        	<div class="caption">
				          		<p>Body Damage-23<br> Head Damage-46<br> Reload Time-2.3s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/assault-rifle-scoped.png">
				        	<div class="caption">
				          		<p>Body Damage-24<br> Head Damage-48<br> Reload Time-2.2s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Light Machine Gun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="blue">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/light-machine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-25<br> Head Damage-50<br> Reload Time-5s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/light-machine-gun.png">
				        	<div class="caption">
				          		<p>Body Damage-26<br> Head Damage-52<br> Reload Time-4.8s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Hand Cannon</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/hand-cannon.png">
				        	<div class="caption">
				          		<p>Body Damage-75<br> Head Damage-150<br> Reload Time-2.1s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/hand-cannon.png">
				        	<div class="caption">
				          		<p>Body Damage-78<br> Head Damage-156<br> Reload Time-2s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Hunting Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="green"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/hunting-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-86<br> Head Damage-215<br> Reload Time-1.9s </p>
			        		</div>
			        </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
			    	<div class="blue"> 
				    	<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/hunting-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-90<br> Head Damage-225<br> Reload Time-1.8s </p>
			        		</div>
			        </div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Semi-Auto Sniper Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/semi-auto-sniper-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-63<br> Head Damage-157.5<br> Reload Time-2.5s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/semi-auto-sniper-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-66<br> Head Damage-165<br> Reload Time-2.3s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Bolt-Action Sniper Rifle</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="blue">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/bolt-action-sniper-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-105<br> Head Damage-262.5<br> Reload Time-3s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/bolt-action-sniper-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-110<br> Head Damage-275<br> Reload Time-2.8s </p>
			        		</div>
					</div>
				</div>
			</div><div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/bolt-action-sniper-rifle.png">
				        	<div class="caption">
				          		<p>Body Damage-116<br> Head Damage-290<br> Reload Time-2.7s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Minigun</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/minigun.png">
				        	<div class="caption">
				          		<p>Body Damage-18<br> Head Damage-45<br> Reload Time-4.8s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/minigun.png">
				        	<div class="caption">
				          		<p>Body Damage-19<br> Head Damage-47.5<br> Reload Time-4.5s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Grenade Launcher</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="blue">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/grenade-launcher.png">
				        	<div class="caption">
				          		<p>Body Damage-100<br> Head Damage-100<br> Reload Time-3s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/grenade-launcher.png">
				        	<div class="caption">
				          		<p>Body Damage-105<br> Head Damage-105<br> Reload Time-2.8s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/grenade-launcher.png">
				        	<div class="caption">
				          		<p>Body Damage-110<br> Head Damage-110<br> Reload Time-2.7s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row-text-center">
			<h3>Rocket Launcher</h3>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="blue">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/rocket-launcher.png">
				        	<div class="caption">
				          		<p>Body Damage-110<br> Head Damage-110<br> Reload Time-2.3s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="purple">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/rocket-launcher.png">
				        	<div class="caption">
				          		<p>Body Damage-116<br> Head Damage-116<br> Reload Time-2.2s </p>
			        		</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="thumbnail">
					<div class="gold">
						<img src="https://db.fortnitetracker.com/app/images/fortnite/weapons_v2/rocket-launcher.png">
				        	<div class="caption">
				          		<p>Body Damage-121<br> Head Damage-121<br> Reload Time-2.1s </p>
			        		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<footer class="container">
			<div class="row">
				<p class="col-sm-4">
					&copy; 2018 Medhanie Irgau
				</p>
		</footer>
	</div>
</body>
</html>